@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@font-face {
    font-family: 'sogang';
    src: url('SOGANG_UNIVERSITY_for_windows.ttf') format('truetype');
}

@font-face {
    font-family: 'maruburi';
    src: url('MaruBuri-Regular.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'maruburi';
    src: url('MaruBuri-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'maruburi';
    src: url('MaruBuri-ExtraLight.ttf') format('truetype');
    font-weight: 300;
}

@media (max-width: 767px) {
    .content {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 16px;
        line-height: 1.25em;
    }

    li {
        padding-bottom: 12px;
        line-height: 16px !important;
    }

    header {
        display: block;
        position: relative;
        width: 100%;
        height: 160px;
        overflow: hidden;
    }

    .tegami {
        font-family: 'sogang';
        font-size: 11px;
        line-height: 11px;
        text-align: center;
        margin: 48px 0 64px 0;
        color: #f2f2f2;
    }

    .cvTitle {
        font-family: 'maruburi';
        font-weight: 700;
        font-size: 18px;
        text-align: left;
        line-height: 12px;
        margin-top: 64px;
        color: #f2f2f2;
    }
    
    .cvDesc {
        font-family: 'maruburi';
        font-weight: 300;
        font-size: 12px;
        line-height: 10px;
        text-align: left;
        margin: 24px 0 48px 0;
        color: #f2f2f2;
    }
}

@media (min-width: 768px) {
    .content {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 16px;
        line-height: 1.25em;
    }

    li {
        padding-bottom: 12px;
        line-height: 24px !important;
    }

    header {
        display: block;
        position: relative;
        width: 100%;
        height: 256px;
        overflow: hidden;
    }

    .tegami {
        font-family: 'sogang';
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        margin: 48px 0 64px 0;
        color: #f2f2f2;
    }

    .cvTitle {
        font-family: 'maruburi';
        font-weight: 700;
        font-size: 20px;
        text-align: left;
        margin-top: 64px;
        color: #f2f2f2;
    }
    
    .cvDesc {
        font-family: 'maruburi';
        font-weight: 300;
        font-size: 14px;
        text-align: left;
        line-height: 12px;
        margin: 24px 0 48px 0;
        color: #f2f2f2;
    }
}

body {
    margin: 0;
    background-color: #2b2b2b;
    background-image: linear-gradient(black 20%, #2b2b2b);
    font-family: 'Noto Sans KR', 'Noto Sans JP', 'maruburi', 'sogang', sans-serif;
}

ul {
    list-style-type: square;
    list-style-image: url('ul.svg');
    margin-left: -16px;
}

div {
    color: #f2f2f2;
}

.condate {
    font-size: 13px; 
    color: #bdbdbd;
}

.headerImg {
    background-image: url('header.png');
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.headerText {
    position: absolute;
    width: 200%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    color: #f2f2f2;
    font-size: 36px;
    letter-spacing: 11px;
}

.headerGrad {
    background: linear-gradient(to bottom, #04b2d9, white 62.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headerSub {
    position: absolute;
    text-align: center;
    width: 200%;
    top: 50%;
    left: 50%;
    transform: translate( -49.64%, -150%);
    color: #f2f2f2;
    font-size: 16px;
    letter-spacing: 16px;
}

.profilepic {
    text-align: center;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-bottom: 32px;
}

.profile {
    border-collapse: collapse;
    width: 216px;
    margin-left: 24px;
    margin-bottom: 32px;
}
  
.profile tr {
    border-bottom: 1px solid #f2f2f2;
}

.profile th {
    font-family: 'maruburi';
    font-weight: 700;
    padding: 2px;
    font-size: 24px;
    text-align: left;
}

.profile td {
    font-family: 'maruburi';
    font-weight: 300;
    font-size: 14px;
    text-align: left;
}

.strfont {
    font-family: 'maruburi';
    font-weight: 700;
    font-size: 14px;
}

.spacing {
    margin-top: 32px;
}

.tegamiTitle {
    font-family: 'sogang';
    font-size: 28px;
    text-align: center;
    margin: 64px 0 48px 0;
    color: #f2f2f2;
}

.cvBox {
    margin: 0 auto;
    width: 368px;
    color: #f2f2f2;
}

.foot {
    text-align: center;
    margin-top: 64px;
    font-size: 12px;
    font-weight: 300;
}

.footmargin {
    margin-top: 64px;
}

a {
    text-decoration-line: none;
}

a:link {
    color: #f2f2f2;
}

a:visited {
    color: #f2f2f2;
}

a:hover {
    color: #04b2d9;
}

a:active {
    color: #04b2d9;
}

hr {
    background-color: #f2f2f2;
    width: 480px;
    text-align: center;
    padding: 0;
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, #2b2b2b, #f2f2f2 33.3%, #f2f2f2 66.7%, #2b2b2b);
}