@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@font-face {
    font-family: 'sogang';
    src: url('SOGANG_UNIVERSITY_for_windows.ttf') format('truetype');
}

@media (max-width: 767px) {
    .content {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 16px;
        line-height: 1.25em;
    }

    header {
        display: block;
        position: relative;
        width: 100%;
        height: 160px;
        overflow: hidden;
    }

    .headerText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -67%);
        color: #f2f2f2;
        font-size: 24px;
        letter-spacing: 4.5px;
    }

    .headerGrad {
        background: linear-gradient(to bottom, #04b2d9, white 62.88%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .headerSub {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -47.75%, -187.5%);
        color: #f2f2f2;
        font-size: 12px;
        letter-spacing: 7.25px;
    }

    .tegami {
        font-family: 'sogang';
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        margin: 48px 0 64px 0;
        color: #f2f2f2;
    }
}

@media (min-width: 768px) {
    .content {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 16px;
        line-height: 1.25em;
    }

    header {
        display: block;
        position: relative;
        width: 100%;
        height: 256px;
        overflow: hidden;
    }

    .headerText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        color: #f2f2f2;
        font-size: 36px;
        letter-spacing: 11px;
    }

    .headerGrad {
        background: linear-gradient(to bottom, #04b2d9, white 62.88%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .headerSub {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -47.75%, -150%);
        color: #f2f2f2;
        font-size: 16px;
        letter-spacing: 16px;
    }

    .tegami {
        font-family: 'sogang';
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        margin: 48px 0 64px 0;
        color: #f2f2f2;
    }
}

body {
    margin: 0;
    background-color: #2b2b2b;
    background-image: linear-gradient(black 20%, #2b2b2b);
    font-family: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
}

.icons {
    filter: invert(100%);
}

div {
    color: #f2f2f2;
}

.condate {
    font-size: 13px; 
    color: #bdbdbd;
}

.headerImg {
    position: absolute; 
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profilepic {
    text-align: center;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-bottom: 32px;
}

.profile {
    border-collapse: collapse;
    width: 224px;
    margin-left: 16px;
    margin-bottom: 32px;
}
  
.profile tr {
    border-bottom: 1px solid #f2f2f2;
}

.profile th {
    padding: 2px;
    font-size: 24px;
    text-align: left;
}

.profile td {
    padding-left: 6px;
    font-size: 14px;
    text-align: left;
}

.spacing {
    margin-top: 64px;
}

.tegamiTitle {
    font-family: 'sogang';
    font-size: 28px;
    text-align: center;
    margin: 64px 0 48px 0;
    color: #f2f2f2;
}

.foot {
    text-align: center;
    margin-top: 64px;
    font-size: 12px;
    font-weight: 300;
}

.footmargin {
    margin-top: 64px;
}

a:link {
    color: #f2f2f2;
}

a:visited {
    color: #f2f2f2;
}

a:hover {
    color: #04b2d9;
}

a:active {
    color: #04b2d9;
}

hr {
    background-color: #f2f2f2;
    width: 50%;
    text-align: center;
    padding: 0;
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, #2b2b2b, #f2f2f2 33.3%, #f2f2f2 66.7%, #2b2b2b);
}